/* Mon fichier CSS */

:root {
  $primaire: #9356dc;
  $secondaire: #ff79da;
  $tertiaire: #99e2d0;
}

.test {
  background-color: $primaire;
}

/*
Font 
Title "Shrikhand"
All "Roboto"
*/

/* modificateur unique */
.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  border-radius: 0%;
}

/* modificateur unique */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center2 {
  margin: auto;
}

/* modificateur unique */
.title {
  font-family: "Shrikhand", "Roboto", "Arial";
  font-size: 40px;
}

body {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header {
  max-width: 1350px;
}

footer {
  font-family: "Roboto";
  width: 100%;
}

.conteneur {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  margin-top: 30px;
}

.bloc {
  height: 100px;
  flex: 1;

  .bloc--red {
    background-color: red;
  }
  .bloc--blue {
    background-color: blue;
  }
  .bloc--green {
    background-color: green;
  }
}

.nav {
  margin: 40px auto 40px;
  display: flex;
  justify-content: right;
  width: 80%;
  font-size: 1.5rem;
  gap: 30px;

  .nav--blue {
    color: blue;
  }
}
