/* Ohmyfood Style */

:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --quatre: orange;
}

.test {
  background-color: var(--tertiaire);
}

/*
Font 
Title "Shrikhand"
All "Roboto"
*/

/* modificateur unique */
.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  border-radius: 0%;
}

/* modificateur unique */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center2 {
  margin: auto;
}

/* modificateur unique */
.title {
  font-family: "Shrikhand", "Roboto", "Arial";
  font-size: 40px;
}

body {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header {
  max-width: 1350px;
}

footer {
  font-family: "Roboto";
  width: 100%;
}

.conteneur {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  margin-top: 30px;
  gap: 4px;
  padding: 10px;
  border: 1px solid blue;
}

.bloc {
  height: 100px;
  flex: 1;
  border: 1px solid black;
  background-color: yellow;

  &--red {
    background-color: #ff0000;
    &:hover {
      background-color: #ce0000;
    }
  }
  &--blue {
    background-color: blue;
    &:hover {
      background-color: #0003c7;
    }
  }
  &--purple {
    background-color: rgb(188, 0, 235);
    &:hover {
      background-color: #9200b6;
    }
  }
}

.nav {
  margin: 40px auto 40px;
  display: flex;
  width: 80%;
  font-size: 1.5rem;
  gap: 30px;

  &--blue {
    color: blue;
  }
}
