/* Mon fichier CSS */

:root
{
--bleureservia: #0065FC;
--bleureservia2: #DEEBFF;
--background: #F2F2F2;
--grisbouton: #e0e0e0;
}


header
{
max-width: 1350px;
padding:0px 40px 0px;
}

body
{ 
    font-family: 'Raleway', 'Arial';
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

p
{
    color: #000000; 
    font-size: 0.87em;
    font-weight: 400;
    font-family: 'Raleway', 'Arial';
    margin-top: 0px;
    margin-bottom: 0px;
    user-select: none
}

footer 
{
    font-family: 'Raleway', 'Arial';
    display: absolute;
    position: relative;
    width: 100%;
    margin: 0px;
}
