// Mixin - Extenssion - Variables

//Mise en forme
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center2 {
  margin: auto;
}

.link {
  text-decoration: none;
}

.section_title {
  color: #000000;
  text-align: left;
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 25px;
  font-family: "Roboto", "Arial";
  user-select: none;
  display: flex;
  flex-wrap: initial;
}

.section_title2 {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 80%;
  line-height: 120%;
  text-align: center;
}

@mixin gradient-button {
  background: #ff79da;
  background: -moz-linear-gradient(top, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
  background: -webkit-linear-gradient(
    top,
    #ff79da 0%,
    #ff6ef6 0%,
    #9356dc 100%
  );
  background: linear-gradient(to bottom, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
}

@mixin gradient-heart {
  background: -moz-linear-gradient(top, #ff6ef6 0%, #9356dc 100%);
  background: -webkit-linear-gradient(top, #ff6ef6 0%, #9356dc 100%);
  background: linear-gradient(to bottom, #ff6ef6 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
