// Fonctionnement

.fonctionnement_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  margin-bottom: 30px;
  margin-top: 3px;
  .fonctionnement_card {
    display: flex;
    margin: auto;
    width: 94%;
    height: 70px;
    justify-content: left;
    background-color: $grey;
    text-decoration: none;
    border-radius: 20px;
    -webkit-box-shadow: 2px 5px 8px 0px #e7e7e7;
    box-shadow: 2px 5px 8px 0px #e7e7e7;
    .fonctionnement_card_move {
      display: flex;
      gap: 18px;
      align-items: center;
      justify-content: left;
      font-family: "Roboto", "Arial";
      font-size: 0.8em;
      position: relative;
      right: 10px;
      border: 0px solid blue;
    }
    .fonctionnement_card_text {
      font-size: 1em;
      color: black;
      display: flex;
      justify-content: left;
    }
    .fonctionnement_circle-purple {
      display: flex;
      border-radius: 50%;
      background-color: $primaire;
      color: white;
      min-width: 23.2px;
      min-height: 23.2px;
      font-size: 0.9em;
      align-items: center;
      justify-content: center;
    }
    .fonctionnement-icon {
      color: $grey-icon;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.15em;
      min-height: 27px;
      min-width: 27px;
    }
  }
}

.fonctionnement_card:hover {
  background-color: #f5edff;
  & .fonctionnement-icon {
    color: $primaire;
  }
}

@media screen and (min-width: 670px) {
  .fonctionnement_card {
    width: 45%;
    max-width: 45%;
  }
}

@media screen and (min-width: 950px) {
  .fonctionnement_card {
    width: 31%;
    max-width: 31%;
  }
}
