// title page acceuil
.maintitle {
  height: 28px;
}

// title page menu
.maintitle2 {
  height: 28px;
  position: relative;
  right: 35px;
}

// icon retour page principale
.icon-back {
  color: $dark-grey;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  height: auto;
  width: 70px;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 22px;
  user-select: none;
  border: 0px solid blue;
}
