// Les div statiques
.loading_container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px 7px 16px -16px #000000;
  box-shadow: inset 0px 7px 16px -16px #000000;
  // animation : disparition du container
  height: calc(100vh - 50px);
  animation-name: loading-opacity;
  animation-duration: 2500ms;
  animation-fill-mode: both;
}

// Visuel du bloc animé
.loading_bloc {
  display: flex;
  height: 64px;
  width: 64px;
  border-radius: 15%;
  overflow: hidden;
  animation: loading-bounce 1550ms infinite;
  animation-fill-mode: both;
  position: relative;
  bottom: 27px;
}

.loading-icon {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  @include gradient-button;
}

// Animations du spinner

// disparition du spinner après l'animations
@keyframes loading-opacity {
  0% {
    height: calc(100vh - 50px);
    opacity: 1;
  }
  99% {
    height: calc(100vh - 50px);
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

// rotate du spinner pendant l'animation
@keyframes loading-bounce {
  0% {
    transform: translatey(-30%);
    animation-timing-function: cubic-bezier(0.49, 0, 1, 0.53);
  }
  25% {
    transform: translatey(0%);
    animation-timing-function: cubic-bezier(0, 0.57, 0.6, 0.99);
  }

  50% {
    transform: translatey(-30%);
    animation-timing-function: cubic-bezier(0.49, 0, 1, 0.53);
  }
  75% {
    transform: translatey(0%);
    animation-timing-function: cubic-bezier(0, 0.57, 0.6, 0.99);
  }
  100% {
    transform: translatey(-30%);
    animation-timing-function: cubic-bezier(0.49, 0, 1, 0.53);
  }
}

// Animations de main
.loading_main {
  animation-name: loadingmain;
  animation-duration: 2500ms;
  animation-fill-mode: both;
}

@keyframes loadingmain {
  0% {
    height: 0;
    opacity: 0;
  }
  99% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
