// Animation main avec loading spinner à faire

// class à appliquer à main
.apparition-main {
  animation-name: apparition-main;
  animation-duration: 900ms;
  animation-fill-mode: both;
}

@keyframes apparition-main {
  0% {
    display: none;
  }
  99% {
    display: none;
  }
  100% {
    display: initial;
  }
}

// classe ) appliquer au loading spinner
.loading-spinner {
  animation-name: loading-spinner;
  animation-duration: 900ms;
  animation-fill-mode: both;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
