.menu-head_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 0px solid blue;
  position: relative;
  .menu-head_card {
    display: grid;
    width: 100%;
    text-align: left;
    background-color: white;
    text-decoration: none;
    border-radius: 0px 0px 0px 0px;
  }
}

// ratio image head
.menu-head_card_paddingratio {
  padding-bottom: 65%;
  height: auto;
  width: 100%;
  position: relative;
  border: 0px solid blue;
}
.menu-head_card_paddingratio img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  object-position: 0% 50%;
}

// menu nom du restaurant
.menu_restaurant-name {
  display: flex;
  width: auto;
  height: 30px;
  text-align: left;
  padding: 10px 17px 10px 17px;
  gap: 3px;
  margin-top: 4px;
  margin-bottom: 17px;
  justify-content: space-between;
  background-color: $grey;
  border: 0px solid red;
  .menu_restaurant-name_title {
    color: #000000;
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
    font-family: "Shrikhand", "Roboto", "Arial";
    text-decoration: none;
  }
  .menu_restaurant-name_right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 19px;
    width: 58px;
    height: auto;
    text-align: left;
    border: 0px solid blue;
  }
}

// menu

.menu_blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;

  .menu_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin: auto;
    margin-top: 9.5px;

    .menu_header_title {
      font-size: 0.82em;
      font-weight: 300;
      margin-left: 6px;
    }

    .menu_header_title_underline {
      display: flex;
      background-color: $tertiaire;
      height: 4px;
      width: 45px;
      margin-left: 6px;
    }
  }
}

.menu_bloc {
  display: flex;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  text-align: left;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .menu-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .menu_bloc_top {
      display: flex;
      gap: 10px;
      width: 100%;

      .menu_bloc_title {
        font-size: 0.9em;
        font-weight: 400;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .menu_bloc_bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 10px;

      .menu_bloc_details {
        font-size: 0.75em;
        font-weight: 300;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .menu_bloc_price {
        font-size: 0.75em;
        font-weight: 600;
        color: $dark-grey;
      }
    }
  }
  // div de la green box
  .menu-right {
    display: flex;

    .greencheckslide {
      height: auto;
      min-width: 0px;
      width: 0px;
      border-radius: 0px 15px 15px 0px;
      background-color: $tertiaire;
      transition: all 600ms;

      .greencheckslide-icon {
        display: flex;
        position: relative;
        bottom: 3.3px;
        height: 110%;
        font-size: 1.12em;
        align-items: center;
        justify-content: center;
        color: white;
        left: 30px;
        transform: rotate(-220deg);
        transition: all 600ms;
      }
    }
  }
}

.menu_bloc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  margin: auto;
  background-color: $grey;
  border: 0px solid blue;
}

// ANIMATIONS

// Animation greencheckbox
.checkmenu {
  &:hover {
    // animation de la boite verte
    & .greencheckslide {
      background-color: $tertiaire;
      width: 60px;
      min-width: 60px;
      transition: all 600ms;
      transition-timing-function: ease-in-out;
    }
    // animation de l'icone de la boite verte
    & .greencheckslide > .greencheckslide-icon {
      transform: rotate(0deg);
      left: 0px;
      transition: all 600ms;
      transition-timing-function: ease-in-out;
    }
  }
}

// Animation apparition
.apparition {
  animation-name: apparition;
  animation-duration: 900ms;
  animation-fill-mode: both;

  &--meal1 {
    animation-delay: 100ms;
  }
  &--meal2 {
    animation-delay: 220ms;
  }
  &--meal3 {
    animation-delay: 340ms;
  }
  &--meal4 {
    animation-delay: 460ms;
  }
}

@keyframes apparition {
  0% {
    transform: translateY(19%);
    opacity: 0;
  }
  67% {
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    animation-fill-mode: both;
  }
}

// Responsive
@media screen and (min-width: 520px) {
  .menu-head_card_paddingratio {
    padding-bottom: 0%;
    height: 350px;
    max-height: 350px;
    width: 100%;
    position: relative;
    border: 0px solid blue;
  }

  .menu-head_card_paddingratio img {
    height: 100%;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    position: absolute;
    object-position: 0% 50%;
  }
}
