.presentation_icon-localisation {
  color: $dark-grey;
  font-size: 1em;
  display: flex;
  position: relative;
  bottom: 1px;
}

.presentation_principal_text {
  display: flex;
  text-align: center;
  color: #1d1d1d;
  font-size: 0.9em;
  font-weight: 300;
  border: 0px solid black;
  margin-bottom: 10px;
}
