// Layout : Mise en page des blocs de bases

// Les conteneurs
.conteneur-title {
  width: auto;
  height: 64px;
  max-width: 100%;
  justify-content: center;
  padding: 0px 17px 0px;
  display: flex;
  margin: auto;
  border: 0px solid blue;
  background-color: white;
}

.conteneur-title-zero {
  width: 100%;
  background-color: white;
}

.conteneur-presentation_localisation {
  display: flex;
  margin: auto;
  width: 100%;
  height: 51px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: $medium-grey;
  color: $dark-grey;
  border: 0px solid blue;
  font-size: 0.81em;
  -webkit-box-shadow: inset 0px 7px 16px -16px #000000;
  box-shadow: inset 0px 7px 16px -16px #000000;
}

.conteneur-presentation_principal {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: auto;
  width: auto;
  height: auto;
  gap: 0px;
  padding: 20px 17px 56px;
  justify-content: center;
  align-items: center;
  background-color: $grey;
  color: black;
  border: 0px solid blue;
}

.conteneur-presentation_principal-zero {
  width: 100%;
  background-color: $grey;
}

.conteneur-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1300px;
  height: auto;
  padding: 20px 17px 37px;
  margin: auto;
  background-color: white;
  border-radius: 0px;
  border: 0px solid blue;
}

.conteneur-fonctionnement-zero {
  width: 100%;
  background-color: white;
}

.conteneur-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1300px;
  height: auto;
  padding: 28px 17px 34px;
  margin: auto;
  background-color: $grey;
  border-radius: 0px;
  border: 0px solid blue;
}

.conteneur-restaurant-zero {
  width: 100%;
  background-color: white;
}

// page menu
.conteneur-menu-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1600px;
  height: auto;
  margin: auto;
  background-color: $grey;
  border-radius: 0px;
  border: 0px solid blue;
}

.conteneur-menu {
  display: flex;
  position: relative;
  bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  padding: 20px 17px 0px;
  margin: auto;
  background-color: $grey;
  border-radius: 35px 35px 0px 0px;
  border: 0px solid blue;
}

.conteneur-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1300px;
  height: auto;
  padding: 22px 24px 14px;
  margin-bottom: 7px;
  margin: auto;
  background-color: $dark-grey;
  color: white;
  border-radius: 0px;
  border: 0px solid green;
}

.conteneur-footer-zero {
  width: 100%;
  background-color: $dark-grey;
}

@media screen and (min-width: 670px) {
  .conteneur-fonctionnement {
    padding: 20px 30px 37px;
    margin: auto;
  }

  .conteneur-restaurant {
    padding: 28px 25px 26px;
    margin: 0px 25px 0px;
    background-color: $grey;
    border-radius: 27px;
  }

  .conteneur-footer {
    padding: 44px 30px 40px;
  }
}

@media screen and (min-width: 670px) {
  .conteneur-restaurant-zero {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1350px) {
  .conteneur-restaurant {
    margin: 0px auto 0px;
  }
}
