// Fonctionnement

.conteneur-fonctionnement_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  margin-bottom: 30px;
}

.conteneur-fonctionnement_card {
  display: flex;
  margin: auto;
  width: 94%;
  height: 70px;
  justify-content: left;
  background-color: $grey;
  text-decoration: none;
  border-radius: 20px;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  border: 0px solid black;
}

.conteneur-fonctionnement_card_move {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: left;
  font-family: "Roboto", "Arial";
  font-size: 0.8em;
  position: relative;
  right: 10px;
  border: 0px solid blue;
}

.conteneur-fonctionnement_card_text {
  font-size: 1em;
  color: black;
  display: flex;
  justify-content: left;
}

.circle-purple {
  display: flex;
  border-radius: 50%;
  background-color: $primaire;
  color: white;
  min-width: 23.2px;
  min-height: 23.2px;
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
}

.fonctionnement-icon {
  color: $grey-icon;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  min-height: 27px;
  min-width: 27px;
}
