// Général

// Police générale
body {
  font-family: "Roboto", "Arial";
  font-size: 1.2em;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  background-color: $grey;
}
// title
.maintitle {
  height: 28px;
}

.maintitle2 {
  height: 28px;
  position: relative;
  right: 35px;
}

// icon retour page principale
.icon-back {
  color: $dark-grey;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  height: auto;
  width: 70px;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 22px;
  user-select: none;
  border: 0px solid blue;
}
