.menu-head_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 0px solid blue;
  position: relative;
}

.menu-head_card {
  display: grid;
  display: column;
  width: 100%;
  text-align: left;
  background-color: white;
  text-decoration: none;
  border-radius: 0px 0px 0px 0px;
}

.menu-head_card_paddingratio {
  padding-bottom: 65%;
  height: auto;
  width: 100%;
  position: relative;
  border: 0px solid blue;
}

.menu-head_card_paddingratio img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  object-position: 0% 50%;
}

// menu nom du restaurant
.menu_restaurant-name {
  display: flex;
  width: auto;
  height: 30px;
  text-align: left;
  padding: 10px 17px 10px 17px;
  gap: 3px;
  margin-top: 4px;
  margin-bottom: 17px;
  justify-content: space-between;
  background-color: $grey;
  border: 0px solid red;
}

.menu_restaurant-name_title {
  color: #000000;
  text-align: left;
  font-size: 1.3em;
  font-weight: 300;
  font-family: "Shrikhand", "Roboto", "Arial";
  text-decoration: none;
}

.menu_restaurant-name_right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 19px;
  width: 58px;
  height: auto;
  text-align: left;
  border: 0px solid blue;
}

// fin part name restaurant

.menu_blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
  border: 0px solid green;
}

.menu_header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin: auto;
  margin-top: 9.5px;
  border: 0px solid green;
}

.menu_header_title {
  font-size: 0.82em;
  font-weight: 300;
  margin-left: 6px;
}

.menu_header_title_underline {
  display: flex;
  background-color: $tertiaire;
  height: 4px;
  width: 45px;
  margin-left: 6px;
}

.menu_bloc {
  display: flex;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  text-align: left;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_bloc_title {
  font-size: 0.9em;
  font-weight: 400;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_bloc_details {
  font-size: 0.75em;
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_bloc_price {
  font-size: 0.75em;
  font-weight: 600;
  color: $dark-grey;
}

.menu_bloc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  margin: auto;
  background-color: $grey;
  border: 0px solid blue;
}

.menu-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_bloc_top {
  display: flex;
  gap: 10px;
  width: 100%;
}

.menu_bloc_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

// ANIMATIONS

// div de la green box
.menu-right {
  display: flex;
}

// div de l'animations greenbox
.greencheckslide {
  height: auto;
  min-width: 0px;
  width: 0px;
  border-radius: 0px 15px 15px 0px;
  background-color: $tertiaire;
  transition: all 600ms;
}

.greencheckslide-icon {
  display: flex;
  position: relative;
  bottom: 3.3px;
  height: 110%;
  font-size: 1.12em;
  align-items: center;
  justify-content: center;
  color: white;
  left: 30px;
  transform: rotate(-220deg);
  transition: all 600ms;
}

.menu-button {
  display: flex;
  padding: 0px 48px 0px;
  height: 50px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  // color & font
  font-family: "Roboto", "Arial";
  font-size: 0.8em;
  user-select: none;
  color: white;
  background: #ff79da;
  background: -moz-linear-gradient(top, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
  background: -webkit-linear-gradient(
    top,
    #ff79da 0%,
    #ff6ef6 0%,
    #9356dc 100%
  );
  background: linear-gradient(to bottom, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
}

// animation greencheckbox
#checkmenu1,
#checkmenu2,
#checkmenu3,
#checkmenu4,
#checkmenu5,
#checkmenu6,
#checkmenu7,
#checkmenu8,
#checkmenu9,
#checkmenu10 {
  display: none;

  &:checked {
    // animation de la boite verte
    & + .greencheckslide {
      background-color: $tertiaire;
      width: 60px;
      min-width: 60px;
      transition: all 600ms;
      transition-timing-function: ease-in-out;
    }
    // animation de l'icone de la boite verte
    & + .greencheckslide > .greencheckslide-icon {
      transform: rotate(0deg);
      left: 0px;
      transition: all 600ms;
      transition-timing-function: ease-in-out;
    }
  }
}

// animation apparition
.apparition {
  animation-name: apparition;
  animation-duration: 900ms;
  animation-fill-mode: both;

  &--meal1 {
    animation-delay: 100ms;
  }
  &--meal2 {
    animation-delay: 220ms;
  }
  &--meal3 {
    animation-delay: 340ms;
  }
  &--meal4 {
    animation-delay: 460ms;
  }
}

@keyframes apparition {
  0% {
    transform: translateY(19%);
    opacity: 0;
  }
  67% {
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    animation-fill-mode: both;
  }
}

// fonction que j'arrive pas a comprendre et a faire fonctionner pour faire un décalage de delay
// @for $i from 1 through 6 {
// nth-child#{$i + 1} {
//   animation-delay: #{$i * 1}s;
//  }
// }

@media screen and (min-width: 520px) {
  .menu-head_card_paddingratio {
    padding-bottom: 0%;
    height: 350px;
    max-height: 350px;
    width: 100%;
    position: relative;
    border: 0px solid blue;
  }

  .menu-head_card_paddingratio img {
    height: 100%;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    position: absolute;
    object-position: 0% 50%;
  }
}
