.icon-localisation {
  color: $dark-grey;
  font-size: 1em;
  display: flex;
  position: relative;
  bottom: 1px;
}

.presentation_principal_text {
  display: flex;
  text-align: center;
  color: #1d1d1d;
  font-size: 0.9em;
  font-weight: 300;
  border: 0px solid black;
  margin-bottom: 10px;
}

.presensation-button {
  display: flex;
  margin-top: 21px;
  padding: 0px 24px 0px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto", "Arial";
  color: white;
  font-size: 0.8em;
  background: #ff79da;
  background: -moz-linear-gradient(top, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
  background: -webkit-linear-gradient(
    top,
    #ff79da 0%,
    #ff6ef6 0%,
    #9356dc 100%
  );
  background: linear-gradient(to bottom, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
}
