.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center2 {
  margin: auto;
}

body {
  font-family: "Roboto", "Arial";
  font-size: 1.2em;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  background-color: #f6f6f6;
}

.conteneur-title {
  width: auto;
  height: 64px;
  max-width: 500px;
  justify-content: center;
  padding: 0px 22px 0px;
  display: flex;
  margin: auto;
  border: 0px solid blue;
  background-color: white;
}

.conteneur-presentation_principal {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  width: auto;
  height: auto;
  gap: 0px;
  padding: 20px 22px 56px;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: black;
  border: 0px solid blue;
}

.conteneur-presentation_localisation {
  display: flex;
  max-width: 500px;
  margin: auto;
  width: auto;
  height: 51px;
  gap: 10px;
  padding: 0px 22px 0px;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #353535;
  border: 0px solid blue;
  font-size: 0.81em;
  -webkit-box-shadow: inset 0px 7px 16px -16px #000000;
  box-shadow: inset 0px 7px 16px -16px #000000;
}

.conteneur-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  padding: 20px 22px 37px;
  margin: auto;
  background-color: white;
  border-radius: 0px;
  border: 0px solid blue;
}

.conteneur-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  padding: 28px 22px 34px;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 0px;
  border: 0px solid blue;
}

.conteneur-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  padding: 22px 25px 14px;
  margin-bottom: 7px;
  margin: auto;
  background-color: #353535;
  color: white;
  border-radius: 0px;
  border: 0px solid green;
}

.section_title {
  color: #000000;
  text-align: left;
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 25px;
  font-family: "Roboto", "Arial";
  user-select: none;
  display: flex;
  flex-wrap: initial;
}

.maintitle {
  height: 28px;
}

.maintitle2 {
  height: 28px;
  position: relative;
  right: 30px;
}

.icon-back {
  color: #353535;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  height: auto;
  width: 60px;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 22px;
  user-select: none;
  border: 0px solid blue;
}

.icon-localisation {
  color: #353535;
  font-size: 1em;
  display: flex;
  position: relative;
  bottom: 1px;
}

.section_title2 {
  color: #000000;
  text-align: left;
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", "Arial";
  user-select: none;
  display: flex;
  flex-wrap: initial;
  max-width: 80%;
  line-height: 120%;
  text-align: center;
}

.conteneur-presentation_principal_text {
  display: flex;
  text-align: center;
  color: #1d1d1d;
  font-size: 0.9em;
  font-weight: 300;
  border: 0px solid black;
  margin-bottom: 10px;
}

.conteneur-fonctionnement_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  margin-bottom: 30px;
}

.conteneur-fonctionnement_card {
  display: flex;
  margin: auto;
  width: 94%;
  height: 70px;
  justify-content: right;
  background-color: #f6f6f6;
  text-decoration: none;
  border-radius: 20px;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  border: 0px solid black;
}

.conteneur-fonctionnement_card_move {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: left;
  font-family: "Roboto", "Arial";
  font-size: 0.8em;
  position: relative;
  right: 10px;
  border: 0px solid blue;
}

.conteneur-fonctionnement_card_text {
  font-size: 1em;
  color: black;
}

.circle-purple {
  display: flex;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  min-width: 23.2px;
  min-height: 23.2px;
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
}

.fonctionnement-icon {
  color: #7e7e7e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  min-height: 27px;
  min-width: 27px;
}

#r1 img {
  object-position: 50% 90%;
}

#r2 img {
  object-position: 50% 61%;
}

#r3 img {
  object-position: 50% 100%;
}

#r4 img {
  object-position: 50% 100%;
}

.conteneur-restaurant_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  margin-bottom: 30px;
}

.conteneur-restaurant_card {
  display: grid;
  display: column;
  width: 100%;
  text-align: left;
  background-color: white;
  text-decoration: none;
  border-radius: 20px;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
}

.conteneur-restaurant_card_text {
  display: flex;
  width: auto;
  height: auto;
  text-align: left;
  padding: 13px 23px 15px 17px;
  gap: 3px;
  justify-content: space-between;
  border: 0px solid blue;
}

.conteneur-restaurant_card_text_left {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: left;
  gap: 3px;
  border: 0px solid black;
  font-weight: 300;
  color: #000000;
}

.conteneur-restaurant_card_text_left_small {
  font-weight: 300;
  font-size: 0.86em;
}

.conteneur-restaurant_card_text_right {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  text-align: left;
  border: 0px solid black;
}

.conteneur-restaurant_card_text_title {
  color: #000000;
  text-align: left;
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: "Roboto", "Arial";
  text-decoration: none;
}

.conteneur-restaurant_card_paddingratio {
  padding-bottom: 50%;
  height: auto;
  width: 100%;
  position: relative;
}

.conteneur-restaurant_card_paddingratio img {
  border-radius: 16px 16px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.heartcolor {
  color: #000000;
  font-size: 1.2em;
}

.footer_title {
  color: white;
  text-align: left;
  justify-content: left;
  font-size: 0.9em;
  height: 20px;
  font-weight: 200;
  margin-bottom: 15px;
  font-family: "Shrikhand", "Roboto", "Arial";
  user-select: none;
}

.conteneur-footer_card {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
  min-width: 235px;
  justify-content: column;
  margin-bottom: 10px;
  list-style-type: none;
  user-select: none;
  color: white;
}

.conteneur-footer_card_text {
  color: white;
  font-size: 0.84em;
  line-height: 163%;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  display: flex;
  gap: 9px;
}

.iconcolor {
  color: white;
  font-size: 0.7em;
  display: flex;
  height: auto;
  width: 12px;
  align-items: center;
  justify-content: center;
}

.conteneur-menu-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 0px;
  border: 0px solid blue;
}

.conteneur-menu-head_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.conteneur-menu-head_card {
  display: grid;
  display: column;
  width: 100%;
  text-align: left;
  background-color: white;
  text-decoration: none;
  border-radius: 0px 0px 0px 0px;
}

.conteneur-menu-head_card_paddingratio {
  padding-bottom: 70%;
  height: auto;
  width: 100%;
  position: relative;
  border: 0px solid blue;
}

.conteneur-menu-head_card_paddingratio img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.conteneur-menu {
  display: flex;
  position: relative;
  bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  padding: 20px 0px 0px;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0px 0px;
  border: 0px solid blue;
}

.conteneur-menu_card_text {
  display: flex;
  width: auto;
  height: auto;
  text-align: left;
  padding: 13px 31px 15px 17px;
  gap: 3px;
  margin-top: 4px;
  margin-bottom: 25px;
  justify-content: space-between;
  border: 0px solid green;
}

.conteneur-menu_card_text_title {
  color: #000000;
  text-align: left;
  font-size: 1.3em;
  font-weight: 300;
  font-family: "Shrikhand", "Roboto", "Arial";
  text-decoration: none;
}

.conteneur-menu_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  border: 0px solid green;
}

.conteneur-menu_bloc_header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  margin: auto;
}

.conteneur-menu_bloc_title {
  font-size: 0.82em;
  font-weight: 300;
}

.conteneur-menu_bloc_title_underline {
  display: flex;
  background-color: #99e2d0;
  height: 4px;
  width: 45px;
}

.conteneur-menu_bloc_content {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  background-color: white;
  height: 40px;
  gap: 8px;
  text-align: left;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
}

.conteneur-menu_bloc_content_top {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.conteneur-menu_bloc_content_bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.conteneur-menu_bloc_content_title {
  font-size: 0.9em;
  font-weight: 400;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conteneur-menu_bloc_content_details {
  font-size: 0.75em;
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conteneur-menu_bloc_content_price {
  font-size: 0.75em;
  font-weight: 600;
  color: #353535;
}

.conteneur-menu_bloc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 90px;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  border: 0px solid blue;
}

.button-presensation {
  display: flex;
  margin-top: 20px;
  padding: 0px 25px 0px;
  justify-content: center;
  align-items: center;
  height: 52px;
  border-radius: 26px;
  font-family: "Roboto", "Arial";
  color: white;
  font-size: 0.8em;
  background: #ff79da;
  background: -moz-linear-gradient(top, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
  background: -webkit-linear-gradient(top, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
  background: linear-gradient(to bottom, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
}

.button-commande {
  display: flex;
  padding: 0px 45px 0px;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 24px;
  font-family: "Roboto", "Arial";
  color: white;
  font-size: 0.8em;
  background: #ff79da;
  background: -moz-linear-gradient(top, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
  background: -webkit-linear-gradient(top, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
  background: linear-gradient(to bottom, #ff79da 0%, #ff6ef6 0%, #9356dc 100%);
}

.apparition {
  animation-name: apparition;
  animation-duration: 900ms;
  animation-fill-mode: both;
}
.apparition--meal1 {
  animation-delay: 100ms;
}
.apparition--meal2 {
  animation-delay: 220ms;
}
.apparition--meal3 {
  animation-delay: 340ms;
}
.apparition--meal4 {
  animation-delay: 460ms;
}

@keyframes apparition {
  0% {
    transform: translateY(19%);
    opacity: 0;
  }
  67% {
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    animation-fill-mode: both;
  }
}

/*# sourceMappingURL=style.css.map */
