// Les animations

// fonction que j'arrive pas a comprendre et a faire fonctionner pour faire un décalage de delay
// @for $i from 1 through 6 {
// nth-child#{$i + 1} {
//   animation-delay: #{$i * 1}s;
//  }
// }

.apparition {
  animation-name: apparition;
  animation-duration: 900ms;
  animation-fill-mode: both;

  &--meal1 {
    animation-delay: 100ms;
  }
  &--meal2 {
    animation-delay: 220ms;
  }
  &--meal3 {
    animation-delay: 340ms;
  }
  &--meal4 {
    animation-delay: 460ms;
  }
}

@keyframes apparition {
  0% {
    transform: translateY(19%);
    opacity: 0;
  }
  67% {
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    animation: cubic-bezier(0, 0.88, 0.64, 0.99);
    animation-fill-mode: both;
  }
}

// animation green checkbox meal

.check_zone {
  border: 0px solid blue;
  background-color: white;
  color: black;
  height: 58px;
  display: flex;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.greencheck {
  height: 70px;
  min-width: 68px;
  width: 68px;
  border-radius: 0% 25% 25% 0%;
  background-color: $tertiaire;
  transform: translate(123%);
  position: absolute;
  right: 0;
  top: -15px;
  transition: all 600ms;
}

.greencheck-icon {
  display: flex;
  position: relative;
  bottom: 3.3px;
  right: 1.5px;
  height: 110%;
  font-size: 1.12em;
  align-items: center;
  justify-content: center;
  color: white;
}

#checkmenu1,
#checkmenu2,
#checkmenu3,
#checkmenu4,
#checkmenu5,
#checkmenu6,
#checkmenu7,
#checkmenu8,
#checkmenu9,
#checkmenu10 {
  display: none;

  &:checked {
    // animation de la boite verte
    & + .greencheck {
      background-color: $tertiaire;
      transform: translate(27%);
      transition: all 600ms;
      transition-timing-function: ease-in-out;
    }
    // animation de l'icone de la boite verte
    & + .greencheck > .greencheck-icon {
      transform: rotate(1turn);
      transition: 600ms;
      transition-timing-function: ease-in-out;
    }
  }
}

// animation texte bottom

#checkmenu1 {
  &:checked {
    .bottom1 {
      width: calc(100% - 57px);
      transition: 600ms;
    }
  }
}

// texte à animer lors du check (top & bottom)

.conteneur-menu_bloc_content_top {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.conteneur-menu_bloc_content_bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
