body {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.maintitle {
  font-family: "Shrikhand", "Roboto", "Arial";
  font-size: 40px;
}
