// Les boutons plein
.btn {
  height: 50px;
  width: 140px;
  color: #ffffff;
  transform: scale(1);
  transition: transform 150ms;
  user-select: none;

  &:hover {
    transform: scale(1.04);
    transition: transform 150ms;
  }

  // animations ball
  &:hover + .ball {
    transform: scale(1.5);
    transition: transform 300ms;
    transition-timing-function: ease-out;
  }

  &.btn--one {
    background-color: $primaire;
    border: 4px solid darken($primaire, 30%);

    &:hover {
      background-color: white;
      color: $primaire;
      border-color: $primaire;
      transition: all 100ms;
    }
  }
}
// fin boutons pleins

// début ball animé
#containerball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.ball {
  display: flex;
  height: 70px;
  width: 70px;
  background-color: royalblue;
  border-radius: 50%;
  position: relative;
  color: white;
  top: 0px;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  // animation
  transform: scale(0);
  transition: transform 350ms;
}
// fin ball animé

// Les boutons vides
.btn-outline {
  background-color: transparent;
  color: black;
  border: 4px solid black;

  &.btn-outline--one {
    color: $primaire;
    border-color: $primaire;
    &:hover {
      filter: brightness(0%);
    }
  }

  &.btn-outline--blue {
    color: blue;
    @include blueborder;

    &:hover {
      background-color: blue;
      color: white;
      border-color: darkblue;
      transition: transform 150ms, background-color 150ms, color 150ms,
        border-color 150ms;
      transition-delay: 0ms, 0ms, 0ms, 0ms;
    }
  }
}
// fin boutons vide

// Tape ton adresse email
.mailbox {
  width: 300px;
  height: 45px;
  font-size: 1.3rem;
  padding-left: 20px;

  &:focus {
    background-color: white;
    border: 2px solid blue;
  }

  &:not(:focus):invalid {
    background-color: #db0000e1;
    border: 2px solid #db0000e1;
  }
}

input {
  border-radius: 30px;
  border: 2px solid #eeeeee;
  background-color: #eeeeee;
}
// fin adresse mail

// ball 2
.ball2 {
  display: flex;
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: #1100ff;
  border-radius: 0%;
  transform: translateX(0%) rotate(0deg) scale(1);
}

.moveball2:hover > .ball2 {
  transform: translateX(2200%) rotate(900deg) scale(0.6);
  transition: transform 1200ms, background-color 900ms, border-radius 1000ms;
  background-color: #1100ff00;
  transition-delay: 0ms, 50ms, 0ms;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

// ball 3
.ball3 {
  display: flex;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #1100ff00;
  border-radius: 50%;
  transform: translateX(2200%) rotate(900deg) scale(0.6);
}

.moveball2:hover > .ball3 {
  transform: translateX(0%) rotate(0deg) scale(1);
  transition: transform 1200ms, background-color 1200ms, border-radius 1000ms;
  background-color: #1100ff;
  transition-delay: 400ms, 450ms, 400ms;
  border-radius: 0%;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.moveball2 {
  width: 100%;
  height: 100%;
}

// fin new ball
