.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  border: 0px solid blue;
}

.container2 {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  justify-content: left;
  border: 0px solid #000000;
}

.container3 {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  justify-content: center;
  border: 2px solid #000000;
}

// animation preset
$easy: cubic-bezier(0.49, 0.18, 0.23, 1);

// Les boutons plein
.btn {
  height: 50px;
  width: 140px;
  color: #ffffff;
  transform: scale(1);
  transition: transform 150ms;
  user-select: none;

  &:hover {
    transform: scale(1.04);
    transition: transform 150ms;
  }

  // animations ball
  &:hover + .ball {
    transform: scale(1.5);
    transition: transform 300ms;
    transition-timing-function: ease-out;
  }

  &.btn--one {
    background-color: $primaire;
    border: 4px solid darken($primaire, 30%);

    &:hover {
      background-color: white;
      color: $primaire;
      border-color: $primaire;
      transition: all 100ms;
    }
  }
}
// fin boutons pleins

// début ball animé
#containerball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.ball {
  display: flex;
  height: 70px;
  width: 70px;
  background-color: royalblue;
  border-radius: 50%;
  position: relative;
  color: white;
  top: 0px;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  // animation
  transform: scale(0);
  transition: transform 350ms;
}
// fin ball animé

// Les boutons vides
.btn-outline {
  background-color: transparent;
  color: black;
  border: 4px solid black;

  &.btn-outline--one {
    color: $primaire;
    border-color: $primaire;
    &:hover {
      filter: brightness(0%);
    }
  }

  &.btn-outline--blue {
    color: blue;
    border: 2px solid blue;

    &:hover {
      background-color: blue;
      color: white;
      border-color: darkblue;
      transition: transform 150ms, background-color 150ms, color 150ms,
        border-color 150ms;
      transition-delay: 0ms, 0ms, 0ms, 0ms;
    }
  }
}
// fin boutons vide

// Tape ton adresse email
.mailbox {
  width: 300px;
  height: 45px;
  font-size: 1.3rem;
  padding-left: 20px;

  &:focus {
    background-color: white;
    border: 2px solid blue;
  }

  &:not(:focus):invalid {
    background-color: #db0000e1;
    border: 2px solid #db0000e1;
    animation-name: shakebox;
    animation-duration: 170ms;
  }
}

@keyframes shakebox {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(1% * -1);
  }
}

input {
  border-radius: 30px;
  border: 2px solid #eeeeee;
  background-color: #eeeeee;
}
// fin adresse mail

// ball 2
.ball2 {
  display: flex;
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: #1100ff;
  border-radius: 0%;
  transform: translateX(0%) rotate(0deg);
}

.moveball2:hover > .ball2 {
  transform: translateX(2200%) rotate(900deg);
  transition: transform 1100ms, background-color 800ms, border-radius 1000ms;
  background-color: #1100ff00;
  transition-delay: 0ms, 50ms, 0ms;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

// ball 3
.ball3 {
  display: flex;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #1100ff00;
  border-radius: 50%;
  transform: translateX(2200%) rotate(900deg);
}

.moveball2:hover > .ball3 {
  transform: translateX(0%) rotate(0deg);
  transition: transform 1100ms, background-color 1100ms, border-radius 1000ms;
  background-color: #1100ff;
  transition-delay: 500ms, 550ms, 500ms;
  border-radius: 0%;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.moveball2 {
  width: 100%;
  height: 100%;
}
// ball 3

// moveball3 pour l'anim avec 2 élément
.moveball3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bloc2anim {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ball4 {
  height: 50px;
  width: 50px;
  background-color: brown;
}

.ball5 {
  height: 50px;
  width: 50px;
  background-color: orangered;
}

.btn {
  &:hover + .bloc2anim {
    > .ball4 {
      transform: translateX(300px) rotate(1turn);
      background-color: orchid;
      transition: transform 200ms, background-color 100ms;
    }
    > .ball5 {
      transform: translateX(200px) rotate(1turn);
      background-color: palevioletred;
      transition: transform 300ms, background-color 100ms;
    }
  }
}

// menu check
.nomplat-bloc {
  width: auto;
  justify-content: left;
  display: flex;
  border: 1px solid $dark-grey;
  overflow: hidden;
}

.bordercolor {
  border: 0px solid blue;
  background-color: $grey;
  color: black;
  display: flex;
}

.nomplat-text {
  font-size: 0.85em;
}

.ball6 {
  height: 60px;
  min-width: 60px;
  width: 60px;
  border-radius: 0% 25% 25% 0%;
  background-color: $tertiaire;
  transform: translate(100%);
  position: relative;
}

.ball6icon {
  display: flex;
  position: relative;
  bottom: 1px;
  height: 110%;
  font-size: 1.1em;
  align-items: center;
  justify-content: center;
  color: white;
}

#checkmenu {
  display: none;

  &:checked {
    & + .ball6 {
      background-color: $tertiaire;
      transform: translate(0%);
      transition: all 600ms;
      transition-timing-function: ease-in-out;
    }
    & + .ball6 > .ball6icon {
      transform: rotate(1turn);
      transition: 600ms;
      transition-timing-function: ease-in-out;
    }
  }
}
// fin menu check

// Bloc test
.blocskew {
  display: flex;
  gap: 30px;
  width: 500px;
  height: auto;
}

.ball7 {
  height: 60px;
  width: 60px;
  background-color: brown;
  transform: translateX(100%);
  overflow: hidden;
}

#checkmenu2 {
  &:checked {
    & + .ball7 {
      background-color: blue;
      transform: translateX(0%);
      transition: all 500ms;
      transition-timing-function: linear;
    }
  }
}
//fin bloc test

// barre batterie
.blocbarre {
  width: 60%;
  height: auto;
  border: 1px solid white;
  animation-name: bordertime;
  animation-duration: 3000ms;
}

@keyframes bordertime {
  0% {
    border: 1px solid black;
  }
  99% {
    border: 1px solid black;
  }
  100% {
    border: 1px solid white;
  }
}

.energie {
  background-color: red;
  height: 50px;
  transform: scaleX(0);
  transform-origin: left;
  animation-name: rechargebarre;
  animation-duration: 3000ms;
}

@keyframes rechargebarre {
  20% {
    background-color: orangered;
    transform: scaleX(0.1);
    animation: linear;
    opacity: 1;
  }
  30% {
    background-color: yellow;
    transform: scaleX(0.3);
    animation: ease-in;
    opacity: 1;
  }
  60% {
    background-color: rgb(157, 255, 0);
    transform: scaleX(0.6);
    animation: ease-in-out;
  }
  100% {
    background-color: rgb(0, 158, 0);
    transform: scaleX(1);
    animation: ease-in-out;
  }
}

// sound effect
$mintgreen: #15dea5;

.soundbloc {
  width: 280px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  border: 0px solid green;
}

.mintbar {
  background-color: $mintgreen;
  height: 100%;
  width: 28px;
  animation-name: soundbar;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  &--bar1 {
    animation-delay: 100ms;
  }
  &--bar2 {
    animation-delay: 200ms;
  }
  &--bar3 {
    animation-delay: 300ms;
  }
  &--bar4 {
    animation-delay: 400ms;
  }
  &--bar5 {
    animation-delay: 500ms;
  }
  &--bar6 {
    animation-delay: 600ms;
  }
}

// fonction que j'arrive pas a comprendre et a faire fonctionner pour faire un décalage de delay
// @for $i from 1 through 6 {
// nth-child#{$i + 1} {
//   animation-delay: #{$i * 1}s;
//  }
// }

@keyframes soundbar {
  0% {
    transform: scaleY(0.55);
  }
  100% {
    transform: scaleY(1);
  }
}
