// Layout : Mise en page des blocs de bases

// Header

// Container
.container {
  width: 80%;
  @include marginbloc;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  border: 0px solid blue;
}

// Nav
.nav {
  width: 80%;
  @include marginbloc;
  display: flex;
  border: 0px solid blue;
  font-size: 1.5rem;
  gap: 30px;

  .nav--blue {
    color: blue;
  }
}

// Footer
