// Layout : Mise en page des blocs de bases

// Police générale
body {
  font-family: "Roboto", "Arial";
  font-size: 1.2em;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
