// Layout : Mise en page des blocs de bases

// Header

// Container
.container {
  width: 80%;
  @include marginbloc;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  border: 0px solid blue;
}

.container2 {
  width: 80%;
  @include marginbloc;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  justify-content: left;
  border: 2px solid #000000;
}
