// Layout : Mise en page des blocs de bases

// Header

// Container
.container {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  margin-top: 30px;
  gap: 8px;
  padding: 10px;
  border: 1px solid blue;
}

// Nav
.nav {
  width: 80%;
  display: flex;
  margin: 40px auto 40px;
  border: 1px solid blue;
  padding: 10px;
  font-size: 1.5rem;
  gap: 30px;

  .nav--blue {
    color: blue;
  }
}

// Footer
