// Ohmyfood style

// Titre de partie
.section_title {
  color: #000000;
  text-align: left;
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 25px;
  font-family: "Roboto", "Arial";
  user-select: none;
  display: flex;
  flex-wrap: initial;
}

// title
.maintitle {
  height: 28px;
}

.maintitle2 {
  height: 28px;
  position: relative;
  right: 30px;
}

.icon-back {
  color: $dark-grey;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  height: auto;
  width: 60px;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 22px;
  user-select: none;
  border: 0px solid blue;
}

// Exploration

.icon-localisation {
  color: $dark-grey;
  font-size: 1em;
  display: flex;
  position: relative;
  bottom: 1px;
}

// titre de la section principal
.section_title2 {
  color: #000000;
  text-align: left;
  font-size: 1.17em;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", "Arial";
  user-select: none;
  display: flex;
  flex-wrap: initial;
  max-width: 80%;
  line-height: 120%;
  text-align: center;
}

.conteneur-presentation_principal_text {
  display: flex;
  text-align: center;
  color: #1d1d1d;
  font-size: 0.9em;
  font-weight: 300;
  border: 0px solid black;
  margin-bottom: 10px;
}

// fonctionnement

.conteneur-fonctionnement_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  margin-bottom: 30px;
}

.conteneur-fonctionnement_card {
  display: flex;
  margin: auto;
  width: 94%;
  height: 70px;
  justify-content: left;
  background-color: $grey;
  text-decoration: none;
  border-radius: 20px;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  border: 0px solid black;
}

.conteneur-fonctionnement_card_move {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: left;
  font-family: "Roboto", "Arial";
  font-size: 0.8em;
  position: relative;
  right: 10px;
  border: 0px solid blue;
}

.conteneur-fonctionnement_card_text {
  font-size: 1em;
  color: black;
  display: flex;
  justify-content: left;
}

.circle-purple {
  display: flex;
  border-radius: 50%;
  background-color: $primaire;
  color: white;
  min-width: 23.2px;
  min-height: 23.2px;
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
}

.fonctionnement-icon {
  color: $grey-icon;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  min-height: 27px;
  min-width: 27px;
}

// Restaurant
#r1 img {
  object-position: 50% 90%;
}

#r2 img {
  object-position: 50% 61%;
}

#r3 img {
  object-position: 50% 100%;
}

#r4 img {
  object-position: 50% 100%;
}

.conteneur-restaurant_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  margin-bottom: 30px;
}

.conteneur-restaurant_card {
  display: grid;
  display: column;
  width: 100%;
  text-align: left;
  background-color: white;
  text-decoration: none;
  border-radius: 20px;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
}

.conteneur-restaurant_card_text {
  display: flex;
  width: auto;
  height: auto;
  text-align: left;
  padding: 13px 23px 15px 17px;
  gap: 3px;
  justify-content: space-between;
  border: 0px solid blue;
}

.conteneur-restaurant_card_text_left {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: left;
  gap: 3px;
  border: 0px solid black;
  font-weight: 300;
  color: #000000;
}

.conteneur-restaurant_card_text_left_small {
  font-weight: 300;
  font-size: 0.86em;
}

.conteneur-restaurant_card_text_right {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  text-align: left;
  border: 0px solid black;
}

.conteneur-restaurant_card_text_title {
  color: #000000;
  text-align: left;
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: "Roboto", "Arial";
  text-decoration: none;
}

// ratio images restaurant
.conteneur-restaurant_card_paddingratio {
  padding-bottom: 50%;
  height: auto;
  width: 100%;
  position: relative;
}

.conteneur-restaurant_card_paddingratio img {
  border-radius: 16px 16px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.heartcolor {
  color: #000000;
  font-size: 1.2em;
}

// footer

.footer_title {
  color: white;
  text-align: left;
  justify-content: left;
  font-size: 0.9em;
  height: 20px;
  font-weight: 200;
  margin-bottom: 15px;
  font-family: "Shrikhand", "Roboto", "Arial";
  user-select: none;
}

.conteneur-footer_card {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
  min-width: 235px;
  justify-content: column;
  margin-bottom: 10px;
  list-style-type: none;
  user-select: none;
  color: white;
}

.conteneur-footer_card_text {
  color: white;
  font-size: 0.84em;
  line-height: 163%;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  display: flex;
  gap: 9px;
}

.iconcolor {
  color: white;
  font-size: 0.7em;
  display: flex;
  height: auto;
  width: 12px;
  align-items: center;
  justify-content: center;
}

// menu head images

.conteneur-menu-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  margin: auto;
  background-color: $grey;
  border-radius: 0px;
  border: 0px solid blue;
}

.conteneur-menu-head_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.conteneur-menu-head_card {
  display: grid;
  display: column;
  width: 100%;
  text-align: left;
  background-color: white;
  text-decoration: none;
  border-radius: 0px 0px 0px 0px;
}

.conteneur-menu-head_card_paddingratio {
  padding-bottom: 70%;
  height: auto;
  width: 100%;
  position: relative;
  border: 0px solid blue;
}

.conteneur-menu-head_card_paddingratio img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

// Conteneur menu texte
.conteneur-menu {
  display: flex;
  position: relative;
  bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  padding: 20px 0px 0px;
  margin: auto;
  background-color: $grey;
  border-radius: 35px 35px 0px 0px;
  border: 0px solid blue;
}

.conteneur-menu_card_text {
  display: flex;
  width: auto;
  height: auto;
  text-align: left;
  padding: 13px 31px 15px 17px;
  gap: 3px;
  margin-top: 4px;
  margin-bottom: 25px;
  justify-content: space-between;
  border: 0px solid green;
}

.conteneur-menu_card_text_title {
  color: #000000;
  text-align: left;
  font-size: 1.3em;
  font-weight: 300;
  font-family: "Shrikhand", "Roboto", "Arial";
  text-decoration: none;
}

.conteneur-menu_bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  border: 0px solid green;
}

.conteneur-menu_bloc_header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  margin: auto;
}

.conteneur-menu_bloc_title {
  font-size: 0.82em;
  font-weight: 300;
}

.conteneur-menu_bloc_title_underline {
  display: flex;
  background-color: $tertiaire;
  height: 4px;
  width: 45px;
}

.conteneur-menu_bloc_content {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  background-color: white;
  height: 40px;
  gap: 8px;
  text-align: left;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
}

.conteneur-menu_bloc_content_top {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.conteneur-menu_bloc_content_bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.conteneur-menu_bloc_content_title {
  font-size: 0.9em;
  font-weight: 400;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conteneur-menu_bloc_content_details {
  font-size: 0.75em;
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conteneur-menu_bloc_content_price {
  font-size: 0.75em;
  font-weight: 600;
  color: $dark-grey;
}

.conteneur-menu_bloc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 90px;
  width: 100%;
  margin: auto;
  background-color: $grey;
  border: 0px solid blue;
}
