// Theme Général du site

// Couleur
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

// Police générale
body {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

// Police du titre principal
.maintitle {
  font-family: "Shrikhand", "Roboto", "Arial";
  font-size: 40px;
}
