// Mixin @include (add in sass class to compile)
// Extenssion @extend (add in sass class to compile)
// Normal modif class (add in html)

//Mise en forme
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center2 {
  margin: auto;
}

.link {
  text-decoration: none;
}
