// Ohmyfood Style - Centralisation des modules du projets

// Variables
@import "_theme";

@import "_variable";

// Structure de la page
@import "_layout";

// Components
@import "_ohmyfood";

@import "_coursanimation.scss";
