// Ohmyfood Style - Centralisation des modules du projets

// variables
@import "components/variable.scss";

@import "components/color";

// Components
@import "components/general.scss";

@import "components/conteneur.scss";

@import "components/button.scss";

@import "components/fonctionnement.scss";

@import "components/restaurant.scss";

@import "components/menu.scss";

@import "components/footer.scss";

// Animation
@import "components/animation.scss";

// test
@import "components/coursanimation.scss";
