// Ohmyfood Style - Centralisation des modules du projets

// Variables
@import "components/color";

@import "components/variable.scss";

@import "components/general.scss";

// Components
@import "components/conteneur.scss";

@import "components/ohmyfood.scss";

@import "components/button.scss";

// Animation
@import "components/animation.scss";

// test
@import "components/coursanimation.scss";
