// Ohmyfood Style - Centralisation des modules du projets

// Variables
@import "_color";

@import "_variable";

// Components
@import "_conteneur";

@import "_ohmyfood";

@import "_button";

// Animation
@import "_animation";

// test
@import "_coursanimation";
