// Ohmyfood Style - Centralisation des modules du projets

// Variables
@import "_theme";

@import "_mixin";

// Structure de la page
@import "_layout";

// Components
@import "_coursanimation.scss";
