// Ohmyfood Style - Centralisation des modules du projets

// Variables
@import "_color";

@import "_variable";

// Structure de la page
@import "_layout";

// Components
@import "_ohmyfood";

@import "_button";

// Animation
@import "_animation";
