// Ohmyfood Style

// Config
@import "config/variable";

@import "config/color";

@import "config/general.scss";

// Components
@import "components/header";

@import "components/conteneur";

@import "components/presentation";

@import "components/fonctionnement";

@import "components/restaurant";

@import "components/menu";

@import "components/footer";

@import "components/button";

@import "components/mainloading";
